<?xml version="1.0"?>
<Object name="ExpressionList">
    <Object name="Expression">
        <Field name="name" type="string">Module</Field>
        <Field name="definition" type="string">u*u+v*v</Field>
        <Field name="hidden" type="bool">false</Field>
        <Field name="type" type="string">ScalarMeshVar</Field>
        <Field name="fromDB" type="bool">false</Field>
        <Field name="fromOperator" type="bool">false</Field>
        <Field name="operatorName" type="string">__none__</Field>
        <Field name="meshName" type="string"></Field>
        <Field name="dbName" type="string">__none__</Field>
        <Field name="autoExpression" type="bool">false</Field>
    </Object>
</Object>
